/* Estilos generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  padding-top: 61px;
  /* Altura del header para evitar que se escondan ligéramente las fotos (marco superior de ellas) */
  padding-bottom: 61px;
  /* Altura del header para evitar que se escondan ligéramente las fotos (marco superior de ellas) */
}

/* Menú */

.navbar-brand {
  color: #666666;
  font-weight: 800;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  margin-left: 10px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #550c18;
}

.navbar-toggler {
  border-color: #999999;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23666666' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-item .nav-link {
  margin-right: 10px;
  margin-left: 10px;
}

.dropdown-menu .dropdown-item:active {
  background-color: #666666;
  color: #e6e6e6;
}

.bg-body-tertiary {
  background-color: #e6e6e6;
}

/* Menú principal (unificar <a> y <button>) */

/* Estado normal */
.navbar-nav .nav-link {
  color: #666666;
  font-weight: 400;
  font-family: "Dosis", sans-serif;
  background: none;
  border: 0;
}

/* Hover */
.navbar-nav .nav-link:hover {
  color: #550c18;
}

/* Focus (ratón) */
.navbar-nav .nav-link:focus {
  color: #550c18;
  outline: none;
  box-shadow: none;
}

/* Focus visible (teclado) */
.navbar-nav .nav-link:focus-visible {
  outline: 2px solid #550c18;
  outline-offset: 2px;
}

/* Vídeo */

#fullscreen-video {
  width: 100%;
  height: calc(100% - 122px);
  object-fit: cover;
  position: fixed;
  top: 61px;
  left: 0;
}

/* Masonry - Galería */

.grid-item {
  width: 20%;
  overflow: hidden;

  img {
    width: 100%;
    transition: all 1s ease-in-out;
  }
}

/* Dispositivos pequeños */
.grid-item {
  width: 100%;
}

/* Efecto hover imagen */
.grid-item:hover img {
  transform: scale(1.1);
}

/* Páginas detalle fotos */

.detalle-titulo {
  font-size: 1.7rem;
  font-weight: 600;
  color: #666666;
  font-family: "Dosis", sans-serif;
  text-align: left;
}

.detalle-subtitulo {
  font-size: 1.2rem;
  font-weight: 400;
  color: #666666;
  font-family: "Dosis", sans-serif;
  text-align: left;
}

/* Estilos para el botón de cierre */
.close-icon {
  cursor: pointer;
  color: #666666;
  transition: all 0.2s ease-in;
  margin-top: 10px;
}

.close-icon svg {
  fill: currentColor;
}

.close-icon:hover {
  color: #550c18;
}

/* Estilos para slides */

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #666666;
}

.carousel-indicators .active {
  background-color: #550c18;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%;
  /* Color equivalente a #666666 */
  filter: brightness(0) saturate(100%) invert(44%) sepia(0%) saturate(0%)
    hue-rotate(93deg) brightness(93%) contrast(88%);
}

.carousel-item img {
  object-fit: contain;
  height: 600px;
}

.carousel-item .img-thumbnail {
  background-color: #e6e6e6;
}

/* New Expo */

#section-newExpo {
  color: #666666;
  font-family: "Dosis", sans-serif;
}

#section-newExpo h1 {
  text-align: center;
  font-weight: 600;
}

#section-newExpo p {
  text-align: justify;
}

#section-newExpo .img-thumbnail {
  width: 100%;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* Información adicional exposición */

.info-expo h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.info-expo li {
  list-style-type: none;
  margin-left: -30px;
}

/* Sobre mí */

#section-sobreMi .video-thumbnail {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 5px;
}

#section-sobreMi {
  color: #666666;
  font-family: "Dosis", sans-serif;
}

#section-sobreMi p {
  text-align: justify;
  margin: 5px;
}

#section-sobreMi article {
  margin-bottom: 25px;
}

/* Contacto */

#section-contacto .form-control {
  background-color: #e6e6e6;
  border: 0.5px solid #666666;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  font-family: "Dosis", sans-serif;
  color: #666666;
}

#section-contacto .form-control:focus {
  border-color: #999999;
  box-shadow: 0 0 0 0.1rem #550c18;
}

#section-contacto .btn-primary {
  background-color: #666666;
  border-color: #666666;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  padding: 0.375rem 0.75rem;
  margin-top: 1rem;
  transition: all 0.2s ease-in;
  margin-bottom: 40px;
}

#section-contacto .btn-primary:hover {
  background-color: #550c18;
  border-color: #550c18;
}

#section-contacto .btn-primary:focus {
  box-shadow: 0 0 0 0.1rem #550c18;
}

#section-contacto .form-control::placeholder {
  color: #999999;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

#section-contacto textarea.form-control {
  height: auto;
}

#section-contacto .form-group {
  margin-bottom: 1rem;
}

#section-contacto .form-label {
  color: #666666;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

#section-contacto img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#section-contacto .mensaje-error {
  color: red;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  font-style: italic;
}

/* Pie de página */

.footer-text {
  color: #666666;
  font-family: "Dosis", sans-serif;
}

.info a {
  transition: all 0.2s ease-in;
}

.info i {
  color: #666666;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.info i:hover {
  color: #e6e6e6;
  background-color: #550c18;
  border-radius: 50%;
}

.iconos-redes a {
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.2s ease-in;
}

.iconos-redes i {
  color: #666666;
  transition: all 0.2s ease-in;
}

.iconos-redes i:hover {
  color: #550c18;
}

/* Media queries */

@media (min-width: 768px) {
  .grid-item {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .grid-item {
    width: 33.333%;
  }
}

@media (min-width: 1200px) {
  .grid-item {
    width: 25%;
  }
}
